.App {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.show-modal-button {
  margin:30px;
  height: 200px;
  width: 200px;
}

.title:hover+.image {
  color: blue;
  visibility: visible;
  opacity: 1;
}

.image {
  visibility: hidden;
  position: relative;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.firstColumn {
  flex-direction: column;
  margin-right: 50px;
}

.secondColumn {
  flex-direction: column;
}

.sidebar {
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 260px;
  flex-shrink: 0;
  background-color: grey;
  color: white;
  height: 100%;
  overflow: auto;
}

.hamburger {
  color:black;
  cursor: pointer;
  margin: 30px;
  size: 32pt;
  width:max-content;
}

.icon {
  margin-top:100px;
  size:32pt;
  cursor: pointer;
  width:max-content;
}

.list-item {
  margin:30px;
}

.Title{
  position:static;
  left:200px;
}

.Main-button-container{
  display:flex;
  flex-direction: row;
  position:relative;
  left:500px;
}

.Main-button-content{
  margin-left:20px;
  margin-right:20px;
}

.body-text{
  display:flex;
  flex-direction:row;
  position: relative;
  width:100%;
  align-items: center;
  justify-content: center;
}

.app-container{
  display:flex;
  flex-direction:row;
}