.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title:hover+.image {
  color: blue;
  visibility: visible;
  opacity: 1;
}

.image {
  position: relative;
  border-radius: 15px;
  height: 50%;
  width: 50%;
}

.secondColumn {
  flex-direction: column;
}

.sidebar {
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 260px;
  flex-shrink: 0;
  background-color: grey;
  color: white;
  height: 100%;
  overflow: auto;
}




.Title {
  position: fixed;
  left: 200px;
}

.Main-button-container {
  display: flex;
  flex-direction: row;
  position: relative;
  color: rgb(104, 104, 170);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  left: 500px;
}

.Main-button-content {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.Main-button-content:hover {
  text-decoration: underline;
}

.body-text {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  --contrastBackgroundColor: #dcdcdc;
  --background-color: var(--colors-light);
}

.intro-text {
  margin: 10px;
  font-family: Helvetica;
  text-shadow: 2px 2px #c8c7ca;
}

.linkedin-link {
  margin-left: 3px;
}

.intro-container {
  position: static;
  padding: 10px;
  background: rgb(128, 180, 181);
  background: linear-gradient(90deg, rgba(128, 180, 181, 1) 0%, rgba(146, 172, 208, 1) 0%, rgba(8, 8, 17, 0) 0%, rgba(207, 173, 232, 1) 0%, rgba(148, 208, 208, 1) 0%, rgba(246, 243, 235, 1) 0%);
}

.Linkedin-icon{
  color:blue;
}

.modal-button {
  position: relative;
  bottom: 50px;
  left: 100px;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
}

.linkedin-container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.about-me-section {
  position: static;
  padding: 10px;
  background: rgb(128, 180, 181);
  background: linear-gradient(90deg, rgba(128, 180, 181, 1) 0%, rgba(146, 172, 208, 1) 0%, rgba(8, 8, 17, 0) 0%, rgba(207, 173, 232, 1) 0%, rgba(148, 208, 208, 1) 0%, rgba(235, 245, 246, 1) 0%);
}

.middle-page-first-column {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.middle-page-first-column-text {
  position: relative;
  margin-top: 20px;
  right: 200px;
}

.work-experience-section {
  /* padding: 5px; */
  background: rgb(128, 180, 181);
  background: linear-gradient(90deg, rgba(128, 180, 181, 1) 0%, rgba(146, 172, 208, 1) 0%, rgba(8, 8, 17, 0) 0%, rgba(207, 173, 232, 1) 0%, rgba(148, 208, 208, 1) 0%, rgba(246, 243, 235, 1) 0%);
}

.image-row {
  padding:5px;
  background: rgb(8, 8, 17);
  background: linear-gradient(90deg, rgba(8, 8, 17, 0) 0%, rgba(26, 27, 27, 1) 0%, rgba(190, 227, 235, 1) 0%);
}

.image-row-iamges {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.Education-section {
  padding: 5px;
  background: rgb(128, 180, 181);
  background: linear-gradient(90deg, rgba(128, 180, 181, 1) 0%, rgba(146, 172, 208, 1) 0%, rgba(8, 8, 17, 0) 0%, rgba(207, 173, 232, 1) 0%, rgba(148, 208, 208, 1) 0%, rgba(235, 245, 246, 1) 0%);
}

.inspiration-quote-section {
  display: flex;
  justify-content: center;
  color: black;
   background: rgb(128,180,181);
   background: linear-gradient(90deg, rgba(128,180,181,1) 0%, rgba(8,8,17,0) 0%, rgba(207,173,232,1) 0%, rgba(148,208,208,1) 0%, rgba(235,245,246,1) 0%, rgba(229,174,249,1) 0%);
}

.social-media-section {
  color:white;
  background-color: rgb(86, 38, 148);
}

.linkedin-link2{
  color:white;
}
