.burger-button{
    display:block;
    position:fixed;
    left: 30px
}

.about-me-nav{
    cursor: pointer;
    margin:100px;
}

.experience-nav{
    cursor: pointer;
}

.contact-me-nav{
    cursor: pointer;
}

.SideNav-button{
    margin:10px;
}